pkgbase = tinygltf
	pkgdesc = Header only C++ tiny glTF library(loader/saver)
	pkgver = 2.9.3
	pkgrel = 1
	url = https://github.com/syoyo/tinygltf
	arch = any
	license = MIT
	source = tinygltf-2.9.3.tar.gz::https://github.com/syoyo/tinygltf/archive/refs/tags/v2.9.3.tar.gz
	sha256sums = f5f282508609a0098048c8ff25d72f4ef0995bc1d46bc7a5d740e559d80023d2

pkgname = tinygltf
